body{
    background:rgb(0, 0, 0);
}

*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:rgb(255, 255, 255);
}

div.content{
    width:30%
    ;
    padding:20px;
    margin:auto;
    margin-top:10%;
}
div.button{
    text-align:center;
    margin-top:1.5%;
}
div.form-group{
    margin-bottom:9px;
}
#logo{
    height: 70px;
    width:70px;

}
p.name{
    font-family: "Karla", sans-serif;
    font-size:30px;
    margin-top: 10px;
    color:black;
}
div.container2:hover{
    cursor: pointer;
}