#searchContainer{
    width:60%;
}

.mb-3{
    margin-top: 30%;
}
#logo{
    height: 70px;
    width:70px;

}
p.name{
    font-family: "Karla", sans-serif;
    font-size:30px;
    margin-top: 10px;
}
div.container2:hover{
    cursor: pointer;
}