body{
    background:rgb(0, 0, 0);
}

*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:rgb(255, 255, 255);
}

#searchContainer{
    width:100%;
}

.mb-3{
    margin-top: 30%;
}
#logo{
    height: 70px;
    width:70px;

}
p.name{
    font-family: "Karla", sans-serif;
    font-size:30px;
    margin-top: 10px;
    color:black;
}
div.container2:hover{
    cursor: pointer;
}

.row{
    display:flex;
}
nav{
    box-shadow: 0px 0px 30px 15px rgb(190, 233, 240);
    margin-bottom:15px;

}